{% load staticfiles %}
{% load post_tags %}

<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}

  <body>
    {% include 'navbar.html' %}
    <div class="container">
      {% block content %}
        {% if object_list %}
        {% for obj in object_list %}
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="jumbotron" style="padding-top:5px;padding-bottom:20px">
                <h2><a href="{% url 'user_detail' u=obj.user.username %}">{{obj.user.get_full_name}}</a></h2>
                <p>{{obj.content|linebreaks|truncatechars:120}} <a href="{{ obj.get_absolute_url }}">read more</a></p>
                {% if obj.extension in img_list %}
                  <img src="{{ obj.media.url }}" class="img-responsive">
                {% elif obj.extension in vid_list %}
                  <video src="{{ obj.media.url }}" controls></video>
                {% endif %}
                <a href="{% url 'posts:like' id=obj.id %}" class="like-btn">Like (<span>{{ obj.like_count }}</span>)</a>
                {% if user|has_liked:obj %}<p>liked</p>{% else %}<p>not liked</p>{% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
        {% include 'pagination.html' %}
        {% else %}
          <img src="{% static 'img/initial-bg.png' %}" class="img-responsive">
        
        {% endif %}
      {% endblock %}
    </div>

    {% include 'scripts.html' %}
  
  </body>
</html>
