{% load friendshiptags %}

<header class="mdl-layout__header">
	<div class="mdl-layout__header-row">
		<!-- Title -->
		<span class="mdl-layout-title"><a href="/" style="color:white;text-decoration:none">MENSLAND</a></span>
		<!-- Add spacer, to align navigation to the right -->
		<div class="mdl-layout-spacer"></div>
		<!-- Search bar -->
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable 
			mdl-textfield--floating-label mdl-textfield--align-right" style="width:200px">
			<label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
				<i class="material-icons">search</i>
			</label>
			<div class="mdl-textfield__expandable-holder">
				<form method="get" action="{% url 'friendship_view_users' %}">
					<input class="mdl-textfield__input" type="text" name="q" id="fixed-header-drawer-exp">
				</form>
			</div>
		</div>
		<!-- Navigation. We hide it in small screens. -->
		<nav class="mdl-navigation mdl-layout--large-screen-only">
			{% if user.is_authenticated %}
				{% friend_request_count user as count %}
				<button id="navbar-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon" style="margin-left:20px" {% if count == 0 %}disabled{% endif %}>
				  <i class="material-icons">person_add</i>
				</button>
				{% if count %}<div class="mdl-badge" data-badge="{{ count }}"></div>{% endif %}
				{% friend_requests user %}
				<a class="mdl-navigation__link" href="{% url 'user_detail' u=user.username %}">{{ user }}</a>
				<a class="mdl-navigation__link" href="{% url 'auth_logout' %}">Logout</a>
			{% else %}
				<a class="mdl-navigation__link" href="{% url 'auth_login' %}">Login</a>
				<a class="mdl-navigation__link" href="{% url 'registration_register' %}">Register</a>
			{% endif %}
		</nav>
	</div>
</header>

<div class="mdl-layout__drawer">
	<span class="mdl-layout-title">MENSLAND</span>
	<nav class="mdl-navigation">
		{% if user.is_authenticated %}
		<a class="mdl-navigation__link" href="{% url 'user_detail' u=user.username %}">{{ user }}</a>
		<a class="mdl-navigation__link" href="{% url 'auth_logout' %}">Logout</a>
		{% else %}
		<a class="mdl-navigation__link" href="{% url 'auth_login' %}">Login</a>
		<a class="mdl-navigation__link" href="{% url 'registration_register' %}">Register</a>
		{% endif %}
	</nav>
</div>