{% load staticfiles %}

<div class="col-md-6 col-md-offset-3">
  <div class="pagination">
    <span class="step-links">
      {% if object_list.has_previous %}
        <a href="?page={{ object_list.previous_page_number }}" class="pag-a">previous</a>
      {% endif %}
      <span class="current">
        Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
      </span>
      {% if object_list.has_next %}
        <a href="?page={{ object_list.next_page_number }}" class="pag-a">next</a>
      {% endif %}
    </span>
  </div>
</div>