{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<div class="col-md-6 col-md-offset-3">
	<div class="jumbotron" style="padding-top:5px;padding-bottom:20px">
		<h2><a href="{% url 'user_detail' u=instance.user.username %}">{{instance.user.get_full_name}}</a> 
		<small>{{ instance.timestamp|timesince }} ago</small></h2>
		<p>{{instance.content|linebreaks}}</p>
		{% if instance.extension in img_list %}
			<img src="{{ instance.media.url }}" class="img-responsive">
		{% elif instance.extension in vid_list %}
			<video src="{{ instance.media.url }}" controls></video>
		{% endif %}
		<br><div class="row">
			{% if instance.user == request.user %}
			<div class="col-xs-3">
				<a href="{% url 'posts:update' id=instance.id %}">Edit</a>
			</div>
			<div class="col-xs-3">
				<a href="{% url 'posts:delete' id=instance.id %}" class="post-delete-btn">Delete</a>
			</div>
			{% endif %}
			<div class="col-xs-3">
				<a href="#comments" class="comment-button">{{ comments.count }} Comment{% if comments.count > 1 %}s{% endif %}</a>
			</div>
			<div class="col-xs-3">
				<a href="{% url 'posts:like' id=instance.id %}" class="like-btn">Like (<span>{{ instance.like_count }}</span>)</a>
			</div>
		</div>		
	</div>
	<!-- Comments -->
	<div class="section" id="comments">
		<h2>Comments</h2><hr>
		<form method="POST" action="">{% csrf_token %}
			{{form|crispy}}
			<input type="submit" >
		</form><br>
		{% for comment in comments %}
			<blockquote>
				<p>{{comment.content}}</p>
				<footer>via {{comment.user}} 
				<cite title="Source Title">{{comment.timestamp|timesince}} ago | {{comment.children.count}} {% if comment.children.count > 1 %}replies{% else %}reply{% endif %} | </cite>
				<a href="#" class="reply-btn">Reply</a>
				</footer>
				<div class="comment-reply" style="display:none">
					{% for child in comment.children %}
						<blockquote>
							<p>{{child.content}}</p>
							<footer>via {{child.user}} <cite title="Source Title">{{child.timestamp|timesince}} ago</cite></footer>
						</blockquote>
					{% endfor %}
					<form method="POST" action="">{% csrf_token %}
						{{form|crispy}}
						<input type="hidden" name="parent_id" value="{{ comment.id }}">
						<input type="submit" value="Reply" class="btn btn-default">
					</form><br>
				</div>
			</blockquote>
		{% endfor %}
	</div>
</div>

{% endblock %}

	
