{% extends 'base.html' %}
{% load staticfiles %}
{% load post_tags %}

{% block content %}
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--3-offset-desktop 
		mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
		<div class="card-wide mdl-card mdl-shadow--8dp">
			<div class="mdl-card__title">
				<h2 class="mdl-card__title-text"><a href="{% url 'user_detail' u=instance.user.username %}">
				{{instance.user.get_full_name}}</a><small>{{ instance.timestamp|timesince }} ago</small></h2>
			</div>
			<div class="mdl-card__supporting-text">
				{{instance.content|linebreaks}}
			</div>
			<div class="mdl-card__media">
				{% if instance.extension in img_list %}
					<img src="{{ instance.media.url }}">
				{% elif instance.extension in vid_list %}
					<video src="{{ instance.media.url }}" controls></video>
				{% endif %}
			</div>
			<div class="mdl-card__actions">
				<p class="comment-count" style="float:right; padding-right:20px">{{ comments.count }} comments</p>
				<span class="like-count" style="padding-left:20px" id="tt5{{instance.id}}">{{ instance.like_count }}</span> likes<hr>
				<span class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for="tt5{{instance.id}}">{% liked_by_users instance %}</span>
				<a href="{% url 'posts:like' id=instance.id %}" class="like-btn"><button class="mdl-button mdl-js-button mdl-js-ripple-effect {% if user|has_liked:instance %}mdl-button--accent{% endif %}"><i class="material-icons">thumb_up</i> like</button></a>

				<a href="#comments" class="mdl-button mdl-js-button mdl-js-ripple-effect comment-button">{{ comments.count }} Comment{% if comments.count > 1 %}s{% endif %}</a>
			</div>
			{% if instance.user == request.user %}
				<div class="mdl-card__menu">
					<button id="card-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
						<i class="material-icons">more_vert</i>
					</button>
					<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="card-menu-lower-right">
						<div class="mdl-list__item" style="padding:16px 2px 16px 10px">
							<span class="mdl-list__item-primary-content">
								<i class="material-icons">edit</i>
								<span style="padding-left:10px">
									<a href="{% url 'posts:update' id=instance.id %}" class="x">Edit</a>
								</span>
							</span>
						</div>
						<div class="mdl-list__item" style="padding:16px 2px 16px 10px">
							<span class="mdl-list__item-primary-content">
								<i class="material-icons">delete</i>
								<span style="padding-left:10px">
									<a href="{% url 'posts:delete' id=instance.id %}" class="post-delete-btn x">Delete</a>
								</span>
							</span>
						</div>
					</ul>
				</div>
			{% endif %}
		</div>

		<!-- Comments -->
		<div class="section" id="comments">
			<h2>Comments</h2><hr>
			<form method="POST" action="">{% csrf_token %}
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%">
				  {{form.content}}
				  <label class="mdl-textfield__label" for="id_{{form.content.name}}">write comment here</label>
				</div>
				<input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
			</form><br>
			<ul class="demo-list-three mdl-list">
				{% for comment in comments %}
					<div class="mdl-grid" style="padding:0px">
						<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone" style="margin:0px">
							<li class="mdl-list__item mdl-list__item--three-line" style="padding:0px">
						    <span class="mdl-list__item-primary-content">
						      <!-- <i class="material-icons mdl-list__item-avatar">person</i> -->
						      <img src="{{comment.user.userprofile.profile_pic.url}}" class=" mdl-list__item-avatar">
						      <span>{{comment.user}}</span>
						      <span class="mdl-list__item-text-body" style="overflow: auto;">
						        {{comment.content}}
						      </span>
						    </span>
						    <span class="mdl-list__item-secondary-content">
						      <a class="mdl-list__item-secondary-action reply-btn" href="#">reply</a>
						    </span>
						  </li>
						</div>
					</div>
					<div class="mdl-grid comment-reply" style="display:none; padding:0px">
						<div class="mdl-cell mdl-cell--11-col-desktop mdl-cell--1-offset-desktop">
							<ul class="demo-list-three mdl-list" style="padding:0px">
								{% for child in comment.children %}
									<li class="mdl-list__item mdl-list__item--three-line" style="padding:0px">
									  <span class="mdl-list__item-primary-content">
									    <img src="{{comment.user.userprofile.profile_pic.url}}" class=" mdl-list__item-avatar">
									    <span>{{child.user}}</span>
									    <span class="mdl-list__item-text-body" style="overflow: auto;">
									      {{child.content}}
									    </span>
									  </span>
									  <span class="mdl-list__item-secondary-content">
									    <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
									  </span>
									</li>
								{% endfor %}
							</ul>
							<form method="POST" action="">{% csrf_token %}
								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%">
									{{form.content}}
									<label class="mdl-textfield__label" for="id_{{form.content.name}}">write your reply here</label>
								</div>
								<input type="hidden" name="parent_id" value="{{ comment.id }}">
								<input type="submit" value="Reply" class="btn btn-default">
							</form><br>
						</div>
					</div>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}
