<!DOCTYPE html>
<html>
<body onload="myFunction()">
<p id="title"></p>
<img src="a.png" class=" mdl-list__item-avatar" width="200"><p></p><br>
<img src="b.jpg" class=" mdl-list__item-avatar" width="200"><p></p><br>
<img src="c.png" class=" mdl-list__item-avatar" width="200"><p></p><br>



<script src="jquery.min.js"></script>
<script>
	function myFunction(){
		var images = document.getElementsByClassName('mdl-list__item-avatar');
		for (var i=0, len=images.length; i < len; i++) {
			var width=images[i].width;
			var height=images[i].height;
			images[i].style.position='inherit';
			$(images[i]).next('p:first').text("width:"+width+" height:"+height);
			if (width>height) {
				var offX=(width+height)/2;
				var offY=(width-height)/2;
				// images[i].style.clip="rect(0px,"+ offX +"px,"+ height +"px,"+ offY +"px)";
				images[i].style.clip="rect(0px,156px,113px,43px)";
				console.log(offX);
				console.log(offY);
				console.log("width is larger");
			}else if (width<height) {
				var offX=(height-width)/2;
				var offY=(width+height)/2;
				// images[i].style.clip="rect("+ offX +"px,"+ width +"px,"+ offY +"px, 0px)";
				images[i].style.clip="rect(30px,200px,230px,0px)";
				console.log(offX);
				console.log(offY);
				console.log("height is larger");
			}
		}
	}
</script>

</body>
</html>
