{% load staticfiles %}

<div class="mdl-grid">
{% for list_user in following %}
  <div class="mdl-cell  mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
	<div class="card-image mdl-card mdl-shadow--2dp">
	  <div class="mdl-card__title mdl-card--expand"></div>
	  <div class="mdl-card__actions">
	    <span class="card-image__filename">
	    	<a href="{% url 'user_detail' u=list_user.username %}" style="color:white;text-decoration:none">{{list_user.get_full_name}}</a>
	    </span>
	  </div>
	</div>
  </div>
{% endfor %}
</div>