
<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="navbar-menu-lower-right">
  {% for friend_request in friend_requests %}
  <div class="mdl-list__item" style="padding:16px 2px 16px 10px">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span><a href="{% url 'user_detail' friend_request.from_user.username %}" class="x">
      {{ friend_request.from_user.get_full_name }}</a></span>
    </span>
    <form action="{% url 'friendship_accept' friendship_request_id=friend_request.id %}" method="POST">{% csrf_token %}
  		<input type="submit" value="check" class="mdl-list__item-secondary-action x material-icons mdl-button" id="accept">
  	</form>	
    <form action="{% url 'friendship_reject' friendship_request_id=friend_request.id %}" method="POST">{% csrf_token %}
  		<input type="submit" value="clear" class="mdl-list__item-secondary-action x material-icons mdl-button" id="reject">
  	</form>
  </div>
  {% endfor %}
</ul>
